/*Main page second content*/
.sectionTwo{
    background-color: #ffffff;
    height: 50vh;
    max-width: 140rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .sectionTwo_heading{
        font-size: 4rem;
        text-align: center;
        margin-bottom: 6rem;
        transform: translateX(-50px);
    }

    .sectionTwo-cardContainer{
    width: 120rem;
    display: flex;
    justify-content: space-evenly;
    }

        .card{
            width:24rem;
            height: 17.8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
            /*logos*/
                .sectionTwo-cardLogo_cursor{
                    background-image: url(../img/iconCursor.png);
                    background-repeat:no-repeat;
                    width: 5rem;
                    height: 5rem;
                }
                .sectionTwo-cardLogo_design{
                    background-image: url(../img/iconDesign.png);
                    background-repeat:no-repeat;
                    width: 5rem;
                    height: 5rem;
                }
                .sectionTwo-cardLogo_heart{
                    background-image: url(../img/iconHeart.png);
                    background-repeat:no-repeat;
                    width: 5rem;
                    height: 5rem;

                }
                .sectionTwo-cardLogo_hourGlass{
                    background-image: url(../img/iconHourglass.png);
                    background-repeat:no-repeat;
                    width: 5rem;
                    height: 5rem;
                }

    .sectionTwo-button_signUpNowBtn{
        transform: translate(-50px, 20px);
        margin-top:5rem;
        width: 17rem;
        height: 5rem;
        border: none;
        border: none;
        background-color: #FF9900;
        border-radius: 0.4rem;
    }
        .sectionTwo-button_signUpNowBtn:hover{
            background-color: #c06d00;
            cursor: pointer;
        }
        .sectionTwo-button_link{
            display: block;
            color: #ffffff;
        }
            .sectionTwo-button_link:hover{
                text-decoration: none;
            }